form {
    display: flex;
    width: 40rem;
    height: 10rem;
    padding: 0 3rem 0 3rem;
    background-color: #2E2C2C;
    align-items: center;
    border-radius: 30px;
    margin: 13rem 0 0 0;
    filter: drop-shadow(0 0 0.3rem black);
}

form > input {
    width: 100%;
    height: 2rem;
    font-size: 22px;
    outline: none;
    border: 2px solid #57CC99;
    border-radius: 4px;
    background: rgb(37, 36, 36);
    transition: background-color 0.5s ease;
    color: white;
    margin: 2rem 0 0 0;
}

form > input::placeholder {
    color: white;
}

form > input:focus {
    /* background: rgb(56,163,165); */
    background: linear-gradient(153deg, rgba(56,163,165,1) 0%, rgba(87,204,153,1) 100%);
    border: 2px solid #22577A;
    caret-color: white;
}

form > button {
    height: 38px;
}

.homepage-container {
    display: flex;
    width: 100vw;
    height: 100%;
    justify-content: center;
}

.homepage-container > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes animate-in {
    0% {
        background-color: rgb(37, 36, 36);
    }

    100% {
        background: rgb(56,163,165);
        background: linear-gradient(153deg, rgba(56,163,165,1) 0%, rgba(87,204,153,1) 100%);
    }
}