nav {
    display: flex;
    width: 100%;
    height: 3rem;
    padding: 0 0 0 0;
    transition: all .2s ease-out;
}

nav > ul {
    display: flex;
    justify-content: space-between;
    padding: 0 4rem 0 4rem;
    width: 100vw;
}

nav:hover {
    transition: all .2s ease-in;
    background-color: #2E2C2C;
}

nav > ul > li > a:hover {
    color: rgba(56,163,165,1);
}

nav > ul > li {
    list-style: none;
}

nav > ul > li > a {
    font-size: 28px;
    color: white;
    text-decoration: none;
}

@media (max-width: 1280px) {
    nav {
        height: 8rem;
    }

    nav > ul > li > a {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    nav {
        justify-content: center;
        height: 6rem;
    }

    nav > ul > li {
        display: flex;
        align-items: center;
    }

    nav > ul > li > a {
        font-size: 30px;
    }
}

@media (max-width: 280px) {
    nav {
        justify-content: center;
        height: 4rem;
    }

    nav > ul > li > a {
        font-size: 25px;
    }
}