.playlist-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    height: 35rem;
  }
  
  .playlist {
    list-style: none;
    padding: 0;
    width: 30%;
    border-radius: 7px;
    overflow-y: auto;
    border: 2px solid rgb(0, 234, 255);
    background-color: rgb(36, 36, 36);
  }

  .playlist::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  } 
  
  .song {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: #15e0c2;
  }
  
  .song:last-child {
    border-bottom: none;
  }
  
  .song div:first-child {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .song div:last-child {
    color: #888888;
  }
