.modal-content {
    /* margin: 20rem 0 0 0; */
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(153deg, rgba(34,87,122,1) 0%, rgba(56,163,165,1) 44%, rgba(87,204,153,1) 100%);
    border: 4px solid rgb(36, 36, 36) !important;
    filter: drop-shadow(0 0 0.3rem black);
}

.modal-content > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.button-container {
    display: flex;
    width: 8rem;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.modal-content > div > div > button {
    border: 2px solid rgb(0, 234, 255);
    background-color: rgb(36, 36, 36);
    color: white;
    border-radius: 6px;
}

@media (max-width: 1280px) {
    .modal {
        --bs-modal-width: 1050px;
    }

    .modal-content {
        margin: 60rem 0 0 0;
    }

    .modal-content > div > h4 {
        font-size: 60px;
    }

    .modal-content > div > p {
        font-size: 35px;
    }

    .button-container {
        width: 13rem;
    }

    .modal-content > div > div > button {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .modal {
        --bs-modal-width: 600px;
    }

    .modal-content {
        margin: 20rem 0 0 0;
    }

    .modal-content > div > h4 {
        font-size: 45px;
    }

    .modal-content > div > p {
        padding: 10px;
        font-size: 18px;
    }

    .button-container {
        width: 13rem;
    }

    .modal-content > div > div > button {
        font-size: 20px;
    }
}

@media (max-width: 640px) {
    .modal {
        --bs-modal-width: 500px;
    }

    .modal-content {
        margin: 20rem 0 0 0;
    }

    .modal-content > div > h4 {
        font-size: 38px;
    }

    .modal-content > div > p {
        padding: 10px;
        font-size: 18px;
        margin: 0 0 0 12px;
    }

    .button-container {
        width: 13rem;
    }

    .modal-content > div > div > button {
        font-size: 18px;
    }
}

@media (max-width: 390px) {
    .modal-content {
        margin: 20rem 0 0 0;
        --bs-modal-width: 20px;
    }

    .modal-content > div > h4 {
        font-size: 35px;
    }

    .modal-content > div > p {
        padding: 10px;
        font-size: 14px;
        margin: 0 0 0 12px;
    }

    .button-container {
        width: 8rem;
    }

    .modal-content > div > div > button {
        font-size: 17px;
    }
}

@media (max-width: 431px) {
    .modal-content {
        margin: 16rem 0 0 0;
        --bs-modal-width: 20px;
    }

    .modal-content > div > h4 {
        font-size: 35px;
    }

    .modal-content > div > p {
        padding: 10px;
        font-size: 14px;
        margin: 0 0 0 12px;
    }

    .button-container {
        width: 8rem;
    }

    .modal-content > div > div > button {
        font-size: 17px;
    }
}

@media (max-width: 280px) {
    .modal-content {
        margin: 10rem 0 0 0;
        --bs-modal-width: 20px;
    }

    .modal-content > div > h4 {
        font-size: 35px;
    }

    .modal-content > div > p {
        padding: 10px;
        font-size: 14px;
        margin: 0 0 0 12px;
    }

    .button-container {
        width: 8rem;
    }

    .modal-content > div > div > button {
        font-size: 17px;
    }
}